<p>
  useridentity works!
</p>

<div class="divalign">
<form  [formGroup]="idForm" (ngSubmit)="submitForm()">
  <fieldset >
    <fieldset class="form-group">
      <input
        formControlName="username"
        placeholder="Username"
        class="form-control"
        type="text"
        *ngIf="authType == 'register'" />
    </fieldset>
    <fieldset class="form-group">
      <input
        formControlName="email"
        placeholder="Email"
        class="form-control"
        type="text" />
    </fieldset>
    <fieldset class="form-group">
      <input
        formControlName="password"
        placeholder="Password"
        class="form-control"
        type="password" />
    </fieldset>
    <button class="btn btn-lg btn-primary pull-xs-right"  type="submit">
      {{ title }}
    </button>
  </fieldset>
</form>
</div>